:root {
    --bg-main-color: rgb(232, 232, 232);
    --bg-secondary-color: rgb(243, 243, 243);
    --text-main-color: rgb(23, 143, 255);
    --text-secondary-color: rgb(70, 166, 255);
    --text-normal-color: rgb(92, 92, 92);
}