:root {
    --bg-main-color: rgb(207, 207, 207);
    --bg-secondary-color: rgb(243, 243, 243);
    --bg-third-color: rgb(245, 245, 245);
    --text-main-color: rgb(23, 143, 255);
    --text-secondary-color: rgb(70, 166, 255);
    --text-normal-color: rgb(92, 92, 92);
}