@import './globalCss.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-normal-color);
}

footer {
    background-color: var(--bg-secondary-color);
    padding-block: 3rem;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 100px;
}

.logo-text {
    font-size: 3rem;
    color: var(--text-main-color);
    user-select: none;
}

.container {
    width: 80%;
    margin: auto;
}

.navbar {
    background-color: var(--bg-secondary-color);
    padding-block: 1.5rem;

    .container,
    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav-links {
    list-style: none;
    color: var(--text-normal-color);
    gap: 2rem;
}

.nav-link {
    text-decoration: none;
    font-size: 1.1rem;
    cursor: pointer;
    
    &:visited {
    color: var(--text-normal-color);
    }
    &:hover {
        color: var(--text-main-color);
    }
}

.nav-link.active {
    text-decoration: underline;
    color: var(--text-main-color);
}

.modal-bg {
    position: fixed;
    inset: 0;
    background-color: #00000054;
}

.modal {
    background-color: white;
    padding: 2rem;
    max-width: 500px;
    margin: 18rem auto;
}

.modal-message {
    margin-bottom: 1.2rem;
}

.black {
    background-color: #00000054;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.sidebar {
    position: absolute;
    right: 7rem;
    top: 7rem;
    min-width: 35%;
    height: 600px;
    background-color: var(--bg-third-color);
    border: 1px solid #fefefe;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 300ms;
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 1rem;
    

    .fa-arrow-right {
        cursor: pointer;
    }
}


.cartitem {
    display: flex;
    width: 100%;
    height: 80px;
    margin-top: 1rem;

    .cartimg {
        width: 60px;
        position: absolute;
        left: 2rem;
        margin-top: .5rem;
    }

   
}

.carttext{
    position: absolute;
    /* margin-top: 1rem; */
    left: 7rem;
    color: var(--text-normal-color);

    &:hover {
        text-decoration: underline;
    }
}

.fa-circle-xmark {
    position: absolute;
    right: 2rem;
    margin-top: 1.25rem;
    cursor: pointer;
    font-size: 1.3rem;

    
    &:hover {
        color: red;
    }
}

.cartprices {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    position: absolute;
    margin-top: 1.2rem;
    font-size: .7rem;
    left: 7rem;
    gap: 2rem;

}